body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff1de;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.headerv_text {
    font-size: 2em;
    color: #260000;
}

.gif_container img {
    width: 70%; 
    max-width: 250px; 
    height: auto; 
}

.gifr_container img {
    width: 10%; 
    max-width: 500px; 
    height: 100%; 

}
